<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--   <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keyword" content=""> -->
  <link rel="shortcut icon" href="img/favicon.png">
  <title>Cosmos</title>

  <!-- Icons -->
  <link href="../node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <link href="../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Main styles for this application -->
  <link href="../src/css/style.css" rel="stylesheet">
  <!-- Styles required by this views -->

</head>