<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="refresh_dashboard()"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" onclick="refresh_accounts()"><i class="icon-wallet"></i> Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="refresh_tools()"><i class="icon-briefcase"></i> Tools</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="refresh_settings()"><i class="icon-settings"></i> Settings</a>
      </li>

      <li class="nav-title">
        Electricity Market
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="refresh_buysell()"><i class="icon-refresh"></i> Buy/Sell</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Extras
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="#" target="_top"><i class="icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_top"><i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_top"><i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_top"><i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>